<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OUR Library</title>
    </head>
    <body>
        <h3>Congratulations ! You are authenticated to use this API</h3>
        <a href="https://documenter.getpostman.com/view/29103392/2s9YXk2foV" target="_blank"
            >See the documentation on POSTMAN</a
        >
    </body>
</html>
